body {
  background: #fff;
  text-align: center;
  font-family: cursive;
}

#books-list {
  border: 1px solid black;
  margin-bottom: 32px;
}

#books-list > div {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 3%;
}

#books-list > div:nth-child(odd) {
  background-color: rgb(221, 218, 215);
}

.separator {
  margin: 16px;
  font-size: 14px;
}

.add-books-form {
  display: flex;
  flex-direction: column;
  font-size: larger;
  margin: 0 35%;
}

.add-books-form input {
  border: 2px solid #000;
  line-height: 30px;
}

#submitBtn {
  align-self: flex-end;
  width: 20%;
  box-shadow: 3px 3px 4px 0;
}

@media only screen and (max-width: 600px) {
  .add-books-form {
    margin: 10%;
  }
}
